body{
    text-align: center;
}
img{
    height: 300px;
    width: 400px;
    border-radius: 15px;
   
}
.avengers{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.sub{
    margin-top: 50px;
}